In [41]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [6]:
#with open("car_fuel_price.csv", 'r') as car_fuel_price_data:
car_fuel_price_df = pd.read_csv("car_fuel_efficiency.csv")
print(car_fuel_price_df.head)

<bound method NDFrame.head of       engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                     170            3.0       159.0     3413.433759
1                     130            5.0        97.0     3149.664934
2                     170            NaN        78.0     3079.038997
3                     220            4.0         NaN     2542.392402
4                     210            1.0       140.0     3460.870990
...                   ...            ...         ...             ...
9699                  140            5.0       164.0     2981.107371
9700                  180            NaN       154.0     2439.525729
9701                  220            2.0       138.0     2583.471318
9702                  230            4.0       177.0     2905.527390
9703                  270            3.0       140.0     2908.043477

      acceleration  model_year  origin fuel_type         drivetrain  \
0             17.7        2003  Europe  Gasoline    All-wheel drive
1             17.8        2007     USA  Gasoline  Front-wheel drive
2             15.1        2018  Europe  Gasoline  Front-wheel drive
3             20.2        2009     USA    Diesel    All-wheel drive
4             14.4        2009  Europe  Gasoline    All-wheel drive
...            ...         ...     ...       ...                ...
9699          17.3        2013  Europe    Diesel  Front-wheel drive
9700          15.0        2004     USA  Gasoline    All-wheel drive
9701          15.1        2008     USA    Diesel    All-wheel drive
9702          19.4        2011     USA    Diesel  Front-wheel drive
9703          14.7        2005    Asia    Diesel    All-wheel drive

      num_doors  fuel_efficiency_mpg
0           0.0            13.231729
1           0.0            13.688217
2           0.0            14.246341
3           2.0            16.912736
4           2.0            12.488369
...         ...                  ...
9699        NaN            15.101802
9700        0.0            17.962326
9701       -1.0            17.186587
9702        1.0            15.331551
9703       -1.0            14.884467

[9704 rows x 11 columns]>

In [7]:
fuel_type_count = car_fuel_price_df['fuel_type'].value_counts()
print(fuel_type_count)

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [13]:
missing_values= car_fuel_price_df.isnull().sum()
print(missing_values)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
max_fuel_eff = car_fuel_price_df['fuel_efficiency_mpg'].max()
print(max_fuel_eff)

25.96722204888372

In [19]:
max_fuel_eff_asia = car_fuel_price_df[car_fuel_price_df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(f"Max fuel eff: {max_fuel_eff_asia}")

Max fuel eff: 23.759122836520497

In [26]:
horsepower_column = car_fuel_price_df['horsepower']

hp_median_val_original = horsepower_column.median()
print(f'Median value of Horsepower: {hp_median_val_original}')

most_freq_hp_val = horsepower_column.mode()
print(f'HP Mode: {most_freq_hp_val}')

horsepower_column.fillna(most_freq_hp_val, inplace=True)

hp_median_val_updated = horsepower_column.median()
print(f'Updated Median value of Horsepower: {hp_median_val_updated}')

Median value of Horsepower: 149.0
HP Mode: 0    152.0
Name: horsepower, dtype: float64
Updated Median value of Horsepower: 149.0

In [49]:
asian_cars = car_fuel_price_df[car_fuel_price_df['origin'] == 'Asia']
# print(asian_cars)

columns_weight_model_year = asian_cars[['vehicle_weight', 'model_year']]
# print(columns_weight_model_year)

first_7_rows_X = columns_weight_model_year.head(7)
#print(first_7_rows_X)

XT = first_7_rows_X.T

XTX = XT @ first_7_rows_X # or first_7_rows_X.T.dot(first_7_rows_X)
# print(XTX)

inv_XTX = np.linalg.inv(XTX)
# print(inv_XTX)

y = [1100, 1300, 800, 900, 1000, 1100, 1200]

w = inv_XTX @ XT @ y
print(w)

sum_w = w.sum()
print(f'Sum of w: {sum_w}')
# sum_of_vehical_weight = columns_weight_model_year['vehicle_weight'].sum()
# print(f'Sum of vehical weight: {sum_of_vehical_weight}')

0    0.013864
1    0.504907
dtype: float64
Sum of w: 0.5187709081074017